/**
 * Root variables
 */
 :root {
	--pmpro--border--color: #E5E7EB;
	--pmpro--border--radius: 6px;
	--pmpro--box-shadow: 1px 2px 3px #12196110;
	--pmpro--color--blue: #1A688B;
	--pmpro--color--blue-lightest: #F5F8FA;
	--pmpro--color--blue-medium-transparent: #E2E8F099;
	--pmpro--color--blue-medium: #E2E8F0;
	--pmpro--color--blue-darkest-transparent: #C3D0E099;
	--pmpro--color--blue-darkest: #C3D0E0;
	--pmpro--color--almost-black: #0F172A;
	--pmpro--color--info-background: #d9edf7;
	--pmpro--color--info-border: #bce8f1;
	--pmpro--color--info-text: #31708f;
	--pmpro--color--info-link: #245269;
	--pmpro--color--success-background: #d4edda;
	--pmpro--color--success-border: #c3e6cb;
	--pmpro--color--success-text: #0F441C;
	--pmpro--color--success-link: #2b542c;
	--pmpro--color--error-background: #f8d7da;
	--pmpro--color--error-border: #f5c6cb;
	--pmpro--color--error-text: #721c24;
	--pmpro--color--error-link: #843534;
	--pmpro--color--alert-background: #fff8e0;
	--pmpro--color--alert-border: #ffeeba;
	--pmpro--color--alert-text: #6C5101;
	--pmpro--color--alert-link: #66512c;
	--pmpro--spacing--large: 50px;
	--pmpro--spacing--medium: 30px;
	--pmpro--spacing--small: 10px;
}

/**
 * Global styles
 */
body {
	background: var(--pmpro--color--blue-lightest);
	color: var(--pmpro--color--almost-black);
	font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	margin: 0;
	padding: 0;
}

h2 {
	color: var(--pmpro--color--almost-black);
	font-size: 20px;
	font-weight: 900;
	margin: var(--pmpro--spacing--large) 0 var(--pmpro--spacing--small);
	padding: 0;
}

p {
	margin: var(--pmpro--spacing--small) 0;
	padding: 0;
}

a {
	color: var(--pmpro--color--blue);
}

table {
	background-color: #FFF;
	border: 1px solid var(--pmpro--border--color);
	border-top: 6px solid var(--pmpro--color--blue);
	border-radius: var(--pmpro--border--radius);
	box-shadow: var(--pmpro--box-shadow);
	border-collapse: separate;
	border-spacing: 0;
	margin: var(--pmpro--spacing--small) 0;
	width: 100%;
}

thead th {
	font-weight: 900;
	padding: calc( var(--pmpro--spacing--medium) / 2 );
	text-align: left;
}

tbody th {
	border-top: 1px solid var(--pmpro--border--color);
	font-weight: 400;
	padding: calc( var(--pmpro--spacing--medium) / 2 );
	text-align: left;
}

tbody td {
	border-top: 1px solid var(--pmpro--border--color);
	padding: calc( var(--pmpro--spacing--medium) / 2 );
	text-align: left;
}

/**
 * Preloader and Header styles
 */
.ajax-reports-pwa {
	padding: calc( var(--pmpro--spacing--large) * 2 ) var(--pmpro--spacing--medium) var(--pmpro--spacing--medium);
}

.header {
	align-items: center;
	display: flex;
	background-color: var(--pmpro--color--blue);
	color: #FFF;
	justify-content: space-between;
	padding: var(--pmpro--spacing--small) 0;
	position: fixed;
	top: 0;
	width: 100%;
}

.header img {
	height: 32px;
	margin-left: var(--pmpro--spacing--medium);
	width: auto;
}
.header a {
	color: #FFF;
	margin-right: var(--pmpro--spacing--medium);
}

.preloader-wrapper {
	align-items: center;
	background-color: var(--pmpro--color--blue-lightest);
	display: flex;
	height: 100vh;
	justify-content: center;
}

.preloader-wrapper img.preloader {
	align-items: center;
	display: flex;
	height: auto;
	margin: 0 auto;
	max-width: 360px;
	width: fit-content;
}

.non-logged-logo {
	margin: 0 auto;
	max-width: 256px;
}

.logo-wrapper {
	display: none;
}

img.spinner {
	display: flex;
	height: 64px;
	margin: 0 auto;
	width: 64px;
}

button.refresh-all {
	background: none;
	border: none;
	color: var(--pmpro--color--blue);
	cursor: pointer;
	font-size: 16px;
	line-height: 150%;
	padding: 0;
	text-align: left;
	text-decoration: underline;
}

/**
 * Report styles
 */
#pmpro_report_sales thead th:last-child {
	text-align: right;
}

#pmpro_report_members_per_level h1.wp-heading-inline {
	display: none;
}

.pmpro_report_tr button {
	background: none;
	border: none;
	color: var(--pmpro--color--blue);
	cursor: pointer;
	font-size: 16px;
	line-height: 150%;
	font-weight: 900;
	padding: 0;
	text-align: left;
}

.pmpro_report_tr button:hover {
	text-decoration: underline;
}

.pmpro_report_tr_sub th,
.pmpro_report_tr_sub td {
	font-size: 13px;
	padding-top: var(--pmpro--spacing--small);
	padding-bottom: var(--pmpro--spacing--small);
}

.pmpro_report-button {
	padding: calc( var(--pmpro--spacing--medium) / 2 ) var(--pmpro--spacing--medium);
	text-align: center;
}

.pmpro_report-button a {
	background: var(--pmpro--color--blue-medium);
	border: 1px solid var(--pmpro--border--color);
	border-radius: var(--pmpro--border--radius);
	color: var(--pmpro--color--almost-black);
	display: inline-block;
	font-weight: 700;
	padding: var(--pmpro--spacing--small) var(--pmpro--spacing--medium);
	text-decoration: none;
}

.pmpro_report-button a:hover {
	background: var(--pmpro--color--blue-darkest);
}
